#my-cont {
    height: 100vh;
}

#my-elements {
    width: 700px;
    height: 300px;
    position: relative;
}

#my-small-elements {
    width: 200px;
    height: 300px;
    border: 1px solid black;
}

.special-height {
    height: calc(300px / 5);
}

#previous {
    position: absolute;
    top: 220px;
    right: 120px;
    cursor: pointer;
    /* z-index: 1; */
}

#next {
    position: absolute;
    bottom: 220px;
    right: 120px;
    cursor: pointer;
    /* z-index: 1; */
}

.caption-box {
    position: absolute;
    top: 150px;
    right: 10px;
}

.cursor {
    cursor: pointer;
}